.carousel-item {
    height: 400px;
}

.carousel-item h1 {
    color: rgb(255, 0, 0);
}

h1, h3 {
    justify-content: center;
    text-align: center;
}

.imgquemsomos img{
    width: 500px;
    height: auto;
   
}

.imgquemsomos {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 18px; 
    line-height: 1.5; 
    text-align: justify; 
    max-width: 1000px; 
    margin: 0 auto;
}    

h5 {
    justify-content: center;
    text-align: center;
}

.center {
    justify-content: center;
    text-align: center;

}

.card-img-top {
    height: 300px;
    object-fit: cover;
  }

.card-img  {
    height: 400px;
    object-fit: cover;
    padding: 10px;
}

.card-value {
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  footer i {
    margin-right: 30px;
  }